@import "@/theme/main.scss";

.input {
  @extend %body;
  margin: 0;

  $switch: &;

  &_view-hover {
    #{$switch}__field {
      &::placeholder {
        color: $dark-shade-50;
      }
    }
  }

  &__title {
    font: bold 12px Montserrat, Arial, sans-serif;
    text-transform: uppercase;
    color: $dark-shade;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 7px;

    &::after {
      content: attr(subtitle);
      font: normal 12px Montserrat, Arial, sans-serif;
      color: $dark-shade-50;
    }
  }

  &__field {
    @extend %body;
    border: 1px solid $dark-shade-25;
    width: 100%;
    height: 44px;
    border-radius: 4px;
    padding: 7px 14px 8px;
    outline: none;

    &::placeholder {
      color: $dark-shade-25;
    }

    &:hover,
    &:focus {
      border: 1px solid $dark-shade-50;
      &::placeholder {
        color: $dark-shade-50;
      }
    }
  }

  &__container_view-arrow {
    position: relative;
  }

  &_view-arrow {
    #{$switch}__field {
      padding: 8px 37px 7px 15px;
      cursor: pointer;

      &_svg {
        position: absolute;
        bottom: 12px;
        right: 12px;
        height: 18px;
        width: 18px;
        cursor: pointer;
      }
    }
  }

  &_view-masked {
    #{$switch}__field {
      cursor: not-allowed;

      &:hover,
      &:focus {
        border: 1px solid $dark-shade-25;
        &::placeholder {
          color: $dark-shade-25;
        }
      }

      &:disabled {
        background: #fff;
      }
    }
  }

  &__container_view-dropdown {
    position: relative;
  }

  &_view-dropdown {
    #{$switch}__field {
      padding-right: 40px;
      cursor: pointer;
    }

    #{$switch}__field-wrapper {
      &::after {
        content: "";
        display: inline-block;
        position: absolute;
        bottom: 13px;
        right: 18px;
        width: 10px;
        height: 10px;
        border: 2px solid $dark-shade-50;
        border-top: 0;
        border-left: 0;
        transform: translateY(-50%) rotate(45deg);
        cursor: pointer;
      }
    }
  }
}
