@import "@/theme/main.scss";

.input {
  @extend %body;
  margin: 0;

  &__container_view-arrow {
    position: relative;
    width: 260px;
  }

  //   content: url("/../../src/components/input-text/img/arrow-forward.svg");
  //   display: inline-block;
  //   right: 0;
  //   width: 44px;
  //   height: 44px;
  //   position: absolute;
  //   text-align: center;
  //   cursor: pointer;

  &__field {
    @extend %body;
    border: 1px solid $dark-shade-25;
    width: 100%;
    height: 44px;
    border-radius: 4px;
    padding: 7px 14px 8px;
    outline: none;

    &::placeholder {
      color: $dark-shade-25;
    }

    &:hover,
    &:focus {
      border: 1px solid $dark-shade-50;
      &::placeholder {
        color: $dark-shade-50;
      }
    }

    &_view-arrow {
      &_svg {
        position: relative;
        top: -32px;
        right: -230px;
        height: 18px;
        width: 18px;
        cursor: pointer;
      }
    }
  }

  $switch: &;

  &_view-masked {
    #{$switch}__field {
      cursor: not-allowed;

      &:hover,
      &:focus {
        border: 1px solid $dark-shade-25;
        &::placeholder {
          color: $dark-shade-25;
        }
      }

      &:disabled {
        background: #fff;
      }
    }
  }
}
