.pagination {
  @include font-body;

  position: relative;
  text-align: center;

  &__pages {
    display: flex;
    justify-content: center;
  }

  &__page {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    color: $dark-shade-50;
    cursor: pointer;
    line-height: 40px;
    outline: none;
    text-align: center;
    text-decoration: none;

    &:focus {
      filter: drop-shadow(0 0 2px $dark-shade-50);
    }

    &:active {
      color: $dark-shade;
    }

    &:hover:not(.pagination__page_current):not(.pagination__page_next):not(.pagination__page_skip) {
      background:
        linear-gradient(180deg,
        lighten($prime-color, 10%) 0%,
        lighten($sub-prime-color, 10%) 100%);
      color: white;
    }

    // &:visited {

    // }

    &_current {
      background: linear-gradient(180deg, $prime-color 0%, $sub-prime-color 100%);
      color: white;
      font-weight: bold;
    }

    &_skip {
      cursor: default;
    }

    &_next {
      position: relative;
      display: block;
      background: linear-gradient(180deg, $second-color 0%, #66d2ea 100%);

      &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: min-content;
        height: min-content;
        margin: auto;
        content: url('../../components/pagination/images/arrow.svg');
      }

      &:hover {
        background:
          linear-gradient(180deg,
          lighten($second-color, 10%) 0%,
          lighten(#66d2ea, 10%) 100%);
      }
    }
  }

  &__total {
    padding-top: 11px;
    color: $dark-shade-75;
    text-transform: none;
  }
}
