extends /pages/template/template

include /components/room-search/room-search

block pageTitle
  title Landing page

block main
  main.landing-page
    .landing-page__background
      .landing-page__content
        .landing-page__selection
          +room-search({title:"Найдём номера под ваши пожелания"})
        p.landing-page__description Лучшие номера для вашей работы, отдыха и просто вдохновения
