extends /template/template

include /components/card-search/card-search

block pageTitle
  title Landing page

block main
  main.landing-page
    .landing-page__background
      .landing-page__content
        .landing-page__selection
          +card-search({})
        p.landing-page__description Лучшие номера для вашей работы, отдыха и просто вдохновения
