@import "@layouts/ui-base/ui-base";
@import "@/components/color/color";
@import "@/components/type/type";

@import "@/theme/main";

.container {
  @extend %container;
  display: flex;
  justify-content: space-between;
  align-content: space-around;
  flex-wrap: wrap;

  // padding-top: 145px;
  // padding-left: 150px;
  // padding-right: 191px;
  // padding-bottom: 145px;

  &__color-item {
    &_ds100 {
      background-color: $dark-shade;
    }
    &_ds75 {
      background-color: $dark-shade-75;
    }
    &_ds50 {
      background-color: $dark-shade-50;
    }
    &_ds25 {
      background-color: $dark-shade-25;
    }
    &_ds5 {
      background-color: $dark-shade-5;
    }
    &_prime {
      background-color: $prime-color;
    }
    &_second {
      background-color: $second-color;
    }
  }
  &__type-item {
    &_h1 {
      @extend %h1;
    }
    &_h2 {
      @extend %h2;
    }
    &_h3 {
      @extend %h3;
    }
    &_body {
      @extend %body;
    }
  }
}
