@import "@layouts/ui-base/ui-base";
@import "@/components/color/color";

@import "@/theme/main";

.container {
  display: flex;
  justify-content: space-between;
  align-content: space-around;
  flex-wrap: wrap;

  padding-top: 145px;
  padding-left: 150px;
  padding-right: 191px;
  padding-bottom: 145px;

  &__color-item {
    &_ds100 {
      background-color: $dark-shade;
    }
    &_ds75 {
      background-color: $dark-shade-75;
    }
    &_ds50 {
      background-color: $dark-shade-50;
    }
    &_ds25 {
      background-color: $dark-shade-25;
    }
    &_ds5 {
      background-color: $dark-shade-5;
    }
    &_prime {
      background-color: $prime-color;
    }
    &_second {
      background-color: $second-color;
    }
  }
}
