.block-title {
  @include font-h3;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &::after {
    content: attr(data-subtitle);
    font-weight: normal;
    color: $dark-shade-50;
  }
}
