.radio {
  $switch: &;

  display: block;

  &:hover {
    filter: drop-shadow(0 0 2px $dark-shade-25);
  }

  &__label {
    @include font-body;

    position: relative;
    color: $dark-shade-50;
    cursor: pointer;
  }

  &__box {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid $dark-shade-25;
    background-color: white;
    border-radius: 10px;
  }

  &__input {
    position: absolute;
    appearance: none;

    // checked
    &:checked {
      + #{$switch}__box {
        border: 1px solid $prime-color;

        &::before {
          position: absolute;
          top: 3px;
          left: 3px;
          display: inline-block;
          width: 12px;
          height: 12px;
          background-image: linear-gradient(180deg, $prime-color 0%, $sub-prime-color 100%);
          border-radius: 10px;
          content: '';
        }
      }
    }
    // focused
    &:focus {
      + #{$switch}__box {
        box-shadow: 0 0 2px 1px $dark-shade-10;
      }
    }

    &:checked:focus {
      + #{$switch}__box {
        box-shadow: 0 0 2px 1px $dark-shade-10;
      }
    }
  }

  &__text {
    padding-left: 30px;
    line-height: 18px;
  }
}
