//- colors and types
include /components/color/color
include /components/type/type
//- headers-footers
include /components/logo/logo
include /components/footer/footer
include /components/header/header
//- forms
include /components/text-field/text-field
include /components/button/button
include /components/range-slider/range-slider
include /components/checkbox-list/checkbox-list
include /components/radio/radio
include /components/toggle/toggle
include /components/rating/rating
include /components/like/like
include /components/pagination/pagination
include /components/details/details
include /components/reviews/reviews
include /components/info/info
include /components/pie-chart/pie-chart
include /components/block-title/block-title
include /components/guests-dropdown/guests-dropdown
include /components/furniture-dropdown/furniture-dropdown
//- cards
include /components/room-search/room-search
include /components/room-reserve/room-reserve
include /components/account-registration/account-registration
include /components/account-sign-in/account-sign-in
include /components/room-info/room-info
include /components/card-slider/card-slider
include /components/room-number/room-number

block title
  title Ui-kit

block styles

block content
  main.ui-kit
    .ui-kit__section
      .ui-kit__logo-box
        img.ui-kit__logo(src=require('./images/gray-logo.svg').default, alt='color logo')

      include colors-and-types/colors-and-types

    .ui-kit__section.ui-kit__section_colored

      .ui-kit__logo-box
        img.ui-kit__logo(src=require('./images/gray-logo.svg').default, alt='color logo')

      include headers-footers/headers-footers

    .ui-kit__section
      .ui-kit__logo-box
        img.ui-kit__logo(src=require('./images/gray-logo.svg').default, alt='color logo')

      include form-elements/form-elements

    .ui-kit__section.ui-kit__section_colored
      .ui-kit__logo-box
        img.ui-kit__logo(src=require('./images/gray-logo.svg').default, alt='color logo')

      include cards/cards
