.ui-kit {
  &__logo-box {
    max-width: 1440px;
    margin: auto;
  }

  &__logo {
    margin: 2.7rem 0 3.65rem 1.5rem;
  }

  &__section {
    &_colored {
      background-color: $dark-shade-10;
    }
  }
}
