.form-element {
  &__container {
    @include container;
    @include font-h3;

    display: flex;
    justify-content: space-between;
  }

  &__col {
    width: 320px;
    margin-bottom: 100px;
    text-transform: none;

    &_expanded {
      width: 640px;
      text-transform: none;
    }
  }

  &__item-list {
    position: relative;
    margin-bottom: 40px;
  }

  &__item {
    position: relative;
    margin-bottom: 21px;
  }

  &__item-pack {
    display: flex;
    padding-top: 16px;
  }

  &__item-box {
    padding-right: 20px;
  }
}
