include /components/dropdown-date/dropdown-date
include /components/guests-dropdown/guests-dropdown
include /components/button/button


mixin room-search({title="title", form="form"}={})
  form.room-search(form=form)
    h1.room-search__title=title

    .room-search__arrive
      +dropdown-date({
        view:"rangeDate",
        title:"",
        arrival:"прибытие",
        departure:"выезд",
        form:form
      })

    .room-search__guest
      +guests-dropdown({
        title:"Гости",
        subtitle:"",
        counts:[0,0,0],
        isOpened:false,
        withActions:true,
        form:form,
      })

    .room-search__button
      a.room-search__link(href="./search-room.html")
        +button({
          type:"button",
          theme: "arrow",
          size:" ",
          text:"Подобрать номер",
          form:form,
          })
