.account-sign-in {
  max-width: 380px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 30px 30px 30px;

  &__title {
    @include font-h1;

    margin: 0;
    padding-bottom: 20px;
  }

  &__field {
    padding: 0 0 20px 0;
    border: none;

    &:last-child {
      padding: 0;
    }
  }

  &__group {
    padding: 0;
    border: none;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    padding-bottom: 10px;

    &:last-child {
      padding: 0;
    }
  }

  &__btn {
    padding-bottom: 30px;
  }

  &__account {
    @include font-body;

    display: flex;
    align-items: center;

    color: #000;
  }
}
