extends /pages/template/template

include /components/account-sign-in/account-sign-in

block keywords
  meta(name="keywords" content="отель, toxin, профиль, вход")

block description
  meta(name="description" content="Вход в аккаунт Toxin")

block pageTitle
  title Sign-in

block main
  main.sign-in
    .sign-in__background
      .sign-in__content
          +account-sign-in({title:"Войти"})
