extends /pages/template/template

include /components/card-sign-in/card-sign-in

block pageTitle
  title Sign-in

block main
  main.sign-in
    .sign-in__background
      .sign-in__content
          +card-sign-in({title:"Войти"})
