extends /pages/template/template

include /components/account-sign-in/account-sign-in

block pageTitle
  title Sign-in

block main
  main.sign-in
    .sign-in__background
      .sign-in__content
          +account-sign-in({title:"Войти"})
