.pie-chart {
  $switch: &;

  position: relative;
  display: block;

  &__title {
    @include font-h2;

    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    padding-bottom: 23px;

    &::after {
      @include font-h3;

      color: $dark-shade-50;
      content: attr(data-subtitle);
      font-weight: normal;
    }
  }

  &__container {
    position: relative;
    display: flex;
    max-width: 311px;
    justify-content: space-between;
  }

  &__graph {
    position: relative;
    width: 120px;
    height: 120px;
    align-self: center;
  }

  &__svg {
    position: absolute;
    transform: rotate(90deg);
  }

  &__circle {
    transition: 0.5s;

    &_hovered {
      stroke-width: 3;
      transition: 0.5s;
    }

    &:hover {
      stroke-width: 3;
      transition: 0.5s;
    }
  }

  &__legend {
    display: block;
    align-self: flex-end;
    padding-left: 20px;
    cursor: default;
    user-select: none;
  }

  &__item {
    @include font-body;

    position: relative;
    display: block;
    text-transform: none;

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: -15px;
      width: 10px;
      height: 10px;
      margin: auto;
      border-radius: 50%;
      content: '';
    }

    &_theme_excellent {
      &::before {
        background: $gradient-excellent;
      }
    }

    &_theme_good {
      &::before {
        background: $gradient-good;
      }
    }

    &_theme_satisfied {
      &::before {
        background: $gradient-satisfied;
      }
    }

    &_theme_disappointed {
      &::before {
        background: $gradient-disappointed;
      }
    }

    &:hover {
      color: $dark-shade-50;

      + #{$switch}__votes {
        opacity: 1;
        transition: 0.2s;
      }
    }
  }

  &__votes {
    @include font-h3;

    position: absolute;
    top: $lh-h1;
    bottom: 0;
    left: 28px;
    width: min-content;
    height: min-content;
    margin: auto;
    opacity: 0;
    text-transform: uppercase;
    transition: 0.5s;

    &::before {
      @include font-h1;

      position: absolute;
      top: 0;
      right: 0;
      bottom: to-rem($lh-h1) + to-rem($lh-h3);
      left: 0;
      width: min-content;
      height: min-content;
      margin: auto;
      content: attr(data-votes);
    }

    &_visible {
      opacity: 1;
      transition: 0.2s;
    }

    &_theme_excellent {
      background: $gradient-excellent;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;

      &::before {
        background: $gradient-excellent;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    &_theme_good {
      background: $gradient-good;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;

      &::before {
        background: $gradient-good;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    &_theme_satisfied {
      background: $gradient-satisfied;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;

      &::before {
        background: $gradient-satisfied;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    &_theme_disappointed {
      background: $gradient-disappointed;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;

      &::before {
        background: $gradient-disappointed;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  &__total {
    @include font-h3;

    position: absolute;
    top: to-rem($lh-h1);
    bottom: 0;
    left: 28px;
    width: min-content;
    height: min-content;
    margin: auto;
    opacity: 1;
    text-transform: uppercase;
    transition: 0.5s;

    &_invisible {
      opacity: 0;
      transition: 0.2s;
    }

    &::before {
      @include font-h1;

      position: absolute;
      top: 0;
      right: 0;
      bottom: to-rem($lh-h1) + to-rem($lh-h3);
      left: 0;
      width: min-content;
      height: min-content;
      margin: auto;
      content: attr(data-votes);
    }
  }
}
