.pie-chart {
  $switch: &;

  position: relative;
  display: block;

  &__title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 23px;

    @include font-h2;

    &::after {
      content: attr(data-subtitle);
      @include font-h3;
      color: $dark-shade-50;
      font-weight: normal;
    }
  }

  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 311px;
  }

  &__graph {
    position: relative;
    width: 120px;
    height: 120px;
    align-self: center;
  }

  &__svg {
    position: absolute;
    transform: rotate(90deg);
  }

  &__circle {
    transition: 0.5s;

    &_hovered {
      stroke-width: 3;
      transition: 0.5s;
    }

    &:hover {
      stroke-width: 3;
      transition: 0.5s;
    }
  }

  &__legend {
    display: block;
    padding-left: 20px;
    align-self: flex-end;

    cursor: default;
    user-select: none;
  }

  &__item {
    @include font-body;

    display: block;
    position: relative;

    text-transform: none;

    &::before {
      content: "";

      position: absolute;
      margin: auto;
      top: 0;
      left: -15px;
      bottom: 0;

      width: 10px;
      height: 10px;

      border-radius: 50%;
    }

    &_theme_excellent {
      &::before {
        background: $gradient-excellent;
      }
    }

    &_theme_good {
      &::before {
        background: $gradient-good;
      }
    }

    &_theme_satisfied {
      &::before {
        background: $gradient-satisfied;
      }
    }

    &_theme_disappointed {
      &::before {
        background: $gradient-disappointed;
      }
    }

    &:hover {
      color: $dark-shade-50;

      + #{$switch}__votes {
        opacity: 1;
        transition: 0.2s;
      }
    }
  }

  &__votes {
    @include font-h3;
    position: absolute;
    opacity: 0;

    margin: auto;
    top: $lh-h1;
    left: 28px;
    bottom: 0;

    text-transform: uppercase;
    height: min-content;
    width: min-content;
    transition: 0.5s;

    &::before {
      @include font-h1;

      content: attr(data-votes);
      position: absolute;

      margin: auto;
      left: 0;
      bottom: $lh-h1 + $lh-h3;
      right: 0;
      top: 0;

      height: min-content;
      width: min-content;
    }

    &_visible {
      opacity: 1;
      transition: 0.2s;
    }

    &_theme_excellent {
      background: $gradient-excellent;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      &::before {
        background: $gradient-excellent;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    &_theme_good {
      background: $gradient-good;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      &::before {
        background: $gradient-good;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    &_theme_satisfied {
      background: $gradient-satisfied;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      &::before {
        background: $gradient-satisfied;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    &_theme_disappointed {
      background: $gradient-disappointed;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      &::before {
        background: $gradient-disappointed;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  &__total {
    @include font-h3;
    position: absolute;

    margin: auto;
    top: $lh-h1;
    left: 28px;
    bottom: 0;

    text-transform: uppercase;
    height: min-content;
    width: min-content;

    transition: 0.5s;
    opacity: 1;

    &_invisible {
      transition: 0.2s;
      opacity: 0;
    }

    &::before {
      @include font-h1;

      content: attr(data-votes);
      position: absolute;

      margin: auto;
      left: 0;
      bottom: $lh-h1 + $lh-h3;
      right: 0;
      top: 0;

      height: min-content;
      width: min-content;
    }
  }
}
