.info {
  position: relative;

  &__title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;

    font: bold 19px Quicksand;
    line-height: 24px;
    color: $dark-shade;
    text-transform: none;

    padding-bottom: 16px;

    &::after {
      content: attr(data-subtitle);
      color: $dark-shade-50;
      font: normal 12px Montserrat, Arial, sans-serif;
    }
  }

  &__list {
    position: relative;
    list-style-type: none;
    color: $dark-shade-75;
    font: normal 14px Montserrat, Arial, sans-serif;
    line-height: 24px;
    text-transform: none;
  }

  &__text {
    position: relative;
    padding-bottom: 10px;

    &_with-bullet {
      padding-bottom: 10px;
      position: relative;

      &::before {
        content: "";
        width: 10px;
        height: 10px;
        background-color: $dark-shade-25;
        border-radius: 50%;
        position: absolute;
        top: 7px;
        left: -20px;
      }
    }
  }
}
