.color {
  &__item {
    width: 270px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    color: $dark-shade;
    font-family: Quicksand, sans-serif;
  }

  &__box {
    height: 70px;
    width: 70px;
    margin-right: 40px;
    border-radius: 6px;
  }
  &__info {
    font-size: 19px;
    line-height: 29px;
  }
  &__text {
    @include font-h2;
  }
}
