.reviews {
  $switch: &;

  position: relative;

  &__title {
    @include font-h2;

    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    padding-bottom: 23px;

    &::after {
      @include font-body;

      color: $dark-shade-50;
      content: attr(subtitle);
    }
  }

  &__item {
    display: flex;
    padding-bottom: 23px;
  }

  &__avatar {
    position: relative;
    width: 48px;
    height: 48px;
    border: 2px solid white;
    border-radius: 24px;
    filter: drop-shadow(0 0 2px $dark-shade-25);
  }

  &__like {
    display: flex;
    justify-content: center;
    padding-top: 14px;
  }

  &__info {
    @include font-body;

    margin-left: 12px;
  }

  &__time {
    padding-bottom: 10px;
  }
}
