.like {
  $switch: &;
  display: block;

  &:hover {
    filter: drop-shadow(0 0 2px $dark-shade-25);
  }

  &__label {
    @include font-h3;

    display: inline-block;
    position: relative;

    font-size: 10px;
    line-height: 12px;
    font-weight: normal;
    color: $dark-shade-50;

    cursor: pointer;
  }

  &__box {
    display: inline-block;
    padding: 3px 7px 3px 22px;

    min-width: 40px;

    border-radius: 10px;
    border: solid 1px transparent;

    background-color: #fff;
    background-clip: padding-box;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      border-radius: 10px;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: $dark-shade-25;
    }

    &::after {
      content: url(../../components/like/images/favorite_border.svg);
      position: absolute;
      top: 5px;
      left: 5px;
    }
  }

  &__input {
    position: absolute;
    appearance: none;

    // checked
    &:checked {
      + #{$switch}__box {
        color: $prime-color;

        &::before {
          background: linear-gradient(
            180deg,
            $prime-color 0%,
            $sub-prime-color 100%
          );
        }

        &::after {
          content: url(../../components/like/images/favorite.svg);
        }
      }
    }

    // focused
    &:focus {
      + #{$switch}__box {
        &::before {
          background-color: $dark-shade-25;
          box-shadow: 0 0 2px 1px $dark-shade-10;
        }
      }
    }

    &:checked:focus {
      + #{$switch}__box {
        &::before {
          background: linear-gradient(
            180deg,
            $prime-color 0%,
            $sub-prime-color 100%
          );
          box-shadow: 0 0 2px 1px $dark-shade-10;
        }
      }
    }
  }
}
