@import "@/theme/main.scss";

.like {
  $switch: &;
  display: block;

  &__label {
    display: inline-block;
    height: 20px;
    width: 40px;
    position: relative;
    font: normal 10px Montserrat, Arial, sans-serif;
    line-height: 12px;
    color: $dark-shade-50;
    text-transform: initial;
    cursor: pointer;
  }

  &__box {
    position: absolute;
    width: 40px;
    height: 20px;
    border-radius: 10px 10px;
    border: 1px solid $dark-shade-25;
    z-index: -1;

    &::after {
      content: url(../../components/like/images/favorite_border.svg);
      position: absolute;
      top: 4px;
      left: 4px;
    }
  }

  &__input {
    position: absolute;
    appearance: none;

    // checked
    &:checked {
      + #{$switch}__box {
        width: 40px;
        height: 20px;
        border-radius: 10px 10px;
        border: 0;
        background-image: linear-gradient(
          180deg,
          $prime-color 0%,
          $sub-prime-color 100%
        );

        + #{$switch}__count {
          color: $prime-color;
        }

        &::before {
          content: "";
          position: absolute;
          display: inline-block;
          width: 38px;
          height: 18px;
          left: 1px;
          top: 1px;
          border-radius: 10px;
          background-color: #fff;
        }

        &::after {
          content: url(../../components/like/images/favorite.svg);
          position: absolute;
          top: 5px;
          left: 5px;
        }
      }
    }

    // focused
    &:focus {
      + #{$switch}__box {
        width: 40px;
        height: 20px;
        border: 1px solid $dark-shade-25;
        border-radius: 10px 10px;
        background-color: #fff;
        box-shadow: 0 0 2px 1px $dark-shade-10;
      }
    }

    &:checked:focus {
      + #{$switch}__box {
        width: 40px;
        height: 20px;
        border: 0;
        border-radius: 10px 10px;
        background-image: linear-gradient(
          180deg,
          $prime-color 0%,
          $sub-prime-color 100%
        );
        box-shadow: 0 0 2px 1px $dark-shade-10;
      }
    }
  }

  &__count {
    padding: 4px 0px 0px 20px;
    display: block;
  }
}
