@import "@/theme/main.scss";

.like {
  $switch: &;
  display: block;

  &__label {
    display: inline-block;
    position: relative;
    font: normal 10px Montserrat, Arial, sans-serif;
    line-height: 12px;
    color: $dark-shade-50;
    text-transform: initial;
    cursor: pointer;
  }

  &__box {
    display: inline-block;
    padding: 3px 7px 3px 22px;
    border-radius: 10px 10px;
    border: solid 1px transparent;
    background-color: #fff;
    background-clip: padding-box;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      border-radius: 10px 10px;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: $dark-shade-25;
    }

    &::after {
      content: url(../../components/like/images/favorite_border.svg);
      position: absolute;
      top: 5px;
      left: 5px;
    }
  }

  &__input {
    position: absolute;
    appearance: none;

    // checked
    &:checked {
      + #{$switch}__box {
        color: $prime-color;

        &::before {
          background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        }

        &::after {
          content: url(../../components/like/images/favorite.svg);
        }
      }
    }

    // focused
    &:focus {
      + #{$switch}__box {
        box-shadow: 0 0 2px 1px $dark-shade-10;
      }
    }

    &:checked:focus {
      + #{$switch}__box {
        box-shadow: 0 0 2px 1px $dark-shade-10;
      }
    }
  }
}
