@import "@/theme/main.scss";

.slider {
  &__title {
    font: bold 12px Montserrat, Arial, sans-serif;
    text-transform: uppercase;
    color: $dark-shade;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 7px;

    &::after {
      content: attr(data-subtitle);
      font: normal 12px Montserrat, Arial, sans-serif;
      color: $dark-shade-50;
    }
  }
}

.irs {
  &-bar {
    height: 6px !important;
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  }

  &-line {
    height: 6px !important;
  }

  &--flat &-line {
    border: 1px solid $dark-shade-25;
    background-color: #fff !important;
  }

  &-handle {
    width: 16px !important;
    height: 16px !important;
    border-radius: 10px;
    border: 2px solid #ffffff;
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    position: absolute !important;
    top: 20px !important;
    display: block !important;
    z-index: 1 !important;
    cursor: pointer !important;
  }

  &--flat &-handle > i:first-child {
    background: none !important;
  }

  &-single {
    visibility: hidden !important;
  }

  &--flat &-from,
  &--flat &-to {
    display: none;
  }
}
