include /components/block-title/block-title

mixin range-slider({title, subtitle, max, min, from, to,}='')
  .slider
    .slider__container
      .slider__title
        +block-title({title:title, subtitle:subtitle})
      input.js-slider__item_with-range-slider(type='text' value='' data-max=max data-min=min data-from=from, data-to=to)
