@import "@layouts/ui-base/ui-base";

@import "@components/input-text/input-text";
@import "@components/button/button";
@import "@components/range-slider/range-slider";
@import "@components/checkbox-list/checkbox-list";
@import "@components/radio/radio";
@import "@components/toggle/toggle";
@import "@components/rating/rating";
@import "@components/like/like";
@import "@components/pagination/pagination";

@import "@/theme/main.scss";

.form-elements {
  margin-top: 65px;
}

.form-element {
  &__container {
    @extend %container;
    display: flex;
    justify-content: space-between;
  }

  &__col {
    margin-bottom: 100px;
    width: 320px;
  }

  &__item-list {
    position: relative;
    margin-bottom: 40px;
  }

  &__item {
    position: relative;
    margin-bottom: 21px;
    width: 100%;
    font: bold 12px Montserrat, Arial, sans-serif;
    text-transform: uppercase;
    color: $dark-shade;
    color: yellow;

    &_with-btn {
      padding: 16px 0 14px 0;
    }

    &_with-radio {
      display: flex;
      padding-top: 16px;
    }

    &_with-toggle {
      padding: 15px 0 0 0;
    }

    &_with-rating {
      display: flex;
      justify-content: space-between;
    }

    &_with-like {
      padding-top: 16px;
      display: flex;
    }

    &_with-pagination {
      padding-top: 16px;
      display: flex;
    }
  }
}
