extends /pages/template/template

include /components/account-registration/account-registration

block pageTitle
  title Registration

block main
  main.registration
    .registration__background
      .registration__content
          +account-registration({title:"Регистрация аккаунта"})
