extends /pages/template/template

include /components/account-registration/account-registration

block keywords
  meta(name="keywords" content="отель, toxin, профиль, регистрация")

block description
  meta(name="description" content="Создание аккаунта Toxin")

block pageTitle
  title Registration

block main
  main.registration
    .registration__background
      .registration__content
          +account-registration({
            title:"Регистрация аккаунта",  titleBirth:"дата рождения",
            titleSign:"данные для входа в сервис",form:"registration",
            auth:true,
          })
