include /components/checkbox/checkbox

mixin checkbox-list({expand, items, title, subtitle})
  .checkbox-list
    if title||subtitle
      label.checkbox-list__title(subtitle=subtitle)= title
    if expand === true
      .checkbox-list_expandable
          ul.checkbox-list__items
            each item in items
              +checkbox(item)
    else
      ul.checkbox-list__items
        each item in items
          +checkbox(item)
