.checkbox-list {
  position: relative;
  $switch: &;

  &__toggle {
    appearance: none;
    position: absolute;
    right: 1px;
    top: 1px;

    &:checked {
      ~ #{$switch}__items {
        display: none;
      }

      ~ #{$switch}__title {
        #{$switch}__mark {
          transform: translateY(-50%) rotate(45deg);
        }
      }
    }

    &:focus {
      ~ #{$switch}__title {
        #{$switch}__mark {
          filter: drop-shadow(0 0 2px $dark-shade-75);
        }
      }
    }
  }

  &__title {
    cursor: pointer;
  }

  &__mark {
    display: inline-block;
    position: absolute;
    right: 1px;
    top: 5px;
    width: 10px;
    height: 10px;
    border: 2px solid $dark-shade-50;
    border-top: 0;
    transform: translateY(0%) rotate(-135deg);
    border-left: 0;
    transition: 0.3s;
  }

  &__item {
    display: block;
    padding-bottom: 10px;

    &:first-child {
      padding-top: 17px;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }
}
