include /components/checkbox/checkbox
include /components/block-title/block-title

mixin checkbox-list({expand, items, title, subtitle})
  .checkbox-list
    if expand===true&&title
      label.checkbox-list__expand
        +block-title({title:title, subtitle:subtitle})
        input.checkbox-list__toggle(type="checkbox" )
        .checkbox-list__mark
        ul.checkbox-list__items
          each item in items
            li.checkbox-list__item
              +checkbox(item)
    else
      +block-title({title:title, subtitle:subtitle})
      ul.checkbox-list__items
          each item in items
            li.checkbox-list__item
              +checkbox(item)
