@import "@/theme/main.scss";

@import "@components/checkbox/checkbox";

.checkbox-list {
  position: relative;
  $switch: &;

  &__title {
    font: bold 12px Montserrat, Arial, sans-serif;
    text-transform: uppercase;
    color: $dark-shade;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &::after {
      content: attr(subtitle);
      color: $dark-shade-50;
      font: normal 12px Montserrat, Arial, sans-serif;
    }
  }

  &__mark {
    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      right: 1px;
      top: 5px;
      width: 10px;
      height: 10px;
      border: 2px solid $dark-shade-50;
      border-top: 0;
      transform: translateY(0%) rotate(-135deg);
      border-left: 0;
      transition: 0.3s;
    }
  }
  &__items {
    padding-top: 9px;
  }

  &__expand {
    cursor: pointer;

    #{$switch}__toggle {
      appearance: none;
      position: absolute;
      right: 1px;
      top: 1px;

      // &:focus {
      //   width: 15px;
      //   height: 15px;
      // }

      &:checked {
        ~ #{$switch}__items {
          display: none;
        }

        ~ #{$switch}__mark {
          &::after {
            transform: translateY(-50%) rotate(45deg);
          }
        }
      }

      &:focus {
        ~ #{$switch}__mark {
          &::after {
            filter: drop-shadow(0 0 1px $dark-shade-50);
          }
        }
      }

      #{$switch}__items {
        display: block;
      }
    }
  }
}
