@import "@/theme/main.scss";

@import "@components/checkbox/checkbox";

.checkbox-list {
  position: relative;
  &__title {
    font: bold 12px Montserrat, Arial, sans-serif;
    text-transform: uppercase;
    color: $dark-shade;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 7px;

    &::after {
      content: attr(subtitle);
      color: $dark-shade-50;
      font: normal 12px Montserrat, Arial, sans-serif;
    }
  }

  &_expandable {
    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      right: 1px;
      top: 5px;
      width: 10px;
      height: 10px;
      border: 2px solid $dark-shade-50;
      border-top: 0;
      border-left: 0;
      transform: translateY(-50%) rotate(45deg);
      transition: 0.3s;
    }
  }
}
