extends /template/head

include /components/logo/logo
include /components/button/button
include /components/input-text/input-text
include /components/footer/footer
include /components/header/header

block content
  +header({
      auth:false,
      logoRef:"./landing-page.html",
      btnRefEnter:"./sign-in.html",
      btnRefRegister:"./registration.html",
      nav:[
        {
          name: "О нас",
          isBig: true,
          title: "О нас"
        },
        {
          name: "Услуги",
          submenu: true,
          title: "Услуги"
        },
        {
          name: "Вакансии",
          title: "Вакансии"
        },
        {
          name: "Новости",
          title: "Новости"
        },
        {
          name: "Соглашения",
          submenu: true,
          title: "Соглашения"
        },
      ]
    })
  block main
  +footer({
      theme:"complex",
      logoRef:"./landing-page.html",
      info:"Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»",
      subscription:"Получайте специальные предложения и новости сервиса",
      navigation:[
        {
          title:"Навигация",
          section: [
            {
              text: 'О нас',
              href:'#!'
            },
            {
              text: 'Новости',
              href:'#!'
            },
            {
              text: 'Служба поддержки',
              href:'#!'
            },
            {
              text: 'Услуги',
              href:'#!'
            },
          ]
        },
        {
          title:"О нас",
          section: [
            {
              text: 'О сервисе',
              href:'#!'
            },
            {
              text: 'Наша команда',
              href:'#!'
            },
            {
              text: 'Вакансии',
              href:'#!'
            },
            {
              text: 'Инвесторы',
              href:'#!'
            },
          ]
        },
        {
          title:"Служба поддержки",
          section: [
            {
              text: 'Соглашения',
              href:'#!'
            },
            {
              text: 'Сообщества',
              href:'#!'
            },
            {
              text: 'Связь с нами',
              href:'#!'
            },
          ]
        },
      ]
    })
