.datepicker-inline {
  position: absolute;
  top: 50px;
  display: block;

  .datepicker {
    position: absolute;
    display: block;
    width: 320px;
    box-sizing: border-box;
    padding: 18px;
    border: 1px solid $dark-shade-25;
    background: white;
    border-radius: 4px;
    box-shadow: 0 10px 20px $dark-shade-5;

    &--nav {
      position: relative;
      display: flex;
      border-bottom: 1px solid transparent;

      &-title {
        @include font-h2;

        margin: auto;

        i {
          @include font-h2;
        }
      }

      &-action {
        position: absolute;
        display: flex;
        align-items: center;
        color: $prime-color;
        cursor: pointer;

        &.-disabled- {
          display: none;
        }

        &[data-action='next'] {
          right: 0;
        }
      }
    }

    &--arrow {
      @include arrow($prime-color, false);

      margin: 2px;

      &-reverted {
        transform: rotate(180deg);
      }
    }

    &--content {
      padding: 30px 0 20px;
    }

    &--days {
      &-names {
        margin-top: 0;
      }
    }

    &--day {
      &-name {
        @include font-h3;

        height: 40px;
        color: $prime-color;
        text-transform: none;
      }
    }

    &--cell {
      &-day {
        height: 40px;
        border-radius: 50%;
        color: $dark-shade-50;
        font: 12px Montserrat, Arial, sans-serif;

        &.-disabled- {
          color: $dark-shade-25;
        }

        &.-current- {
          background: $gradient-good;
          color: white;
          font-weight: bold;
        }

        &.-selected- {
          background: linear-gradient(180deg, $prime-color 0%, $sub-prime-color 100%);
          color: white;
          font-weight: bold;
        }

        &.-other-month- {
          color: $dark-shade-25;
        }

        &.-range-from-::after,
        &.-range-to-::after {
          position: absolute;
          z-index: -1;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: linear-gradient(180deg, rgba(188, 156, 255, 0.25), rgba(139, 164, 249, 0.25));
          content: '';
        }

        &.-range {
          &-from- {
            border: 0;

            &::after {
              border-radius: 50% 0 0 50%;
            }
          }

          &-to- {
            border: 0;

            &::after {
              border-radius: 0 50% 50% 0;
            }
          }
        }

        &.-in-range- {
          background: linear-gradient(180deg, rgba(188, 156, 255, 0.25), rgba(139, 164, 249, 0.25));
          border-radius: 0;
          color: $dark-shade-50;
        }
      }
    }

    &--buttons {
      display: flex;
      justify-content: space-between;
      padding: 0;
      border-top: 0;
    }

    &--button {
      flex: none;
      color: $dark-shade-50;
      font-family: montserrat, sans-serif;
      font-size: 12px;
      font-weight: 700;
      line-height: 15px;
      text-transform: uppercase;

      &[data-action='today'] {
        color: $prime-color;
      }

      &:hover {
        background: 0;
        color: lighten($prime-color, 10%);
      }
    }
  }
}
