@mixin icon-expand($color) {
  &::after {
    width: 8px;
    height: 8px;
    border-right: 2px solid $color;
    border-bottom: 2px solid $color;
    content: '';
    cursor: pointer;
    transform: rotate(45deg);
  }
}

@mixin arrow($color, $isGradient: false) {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  margin: auto;
  cursor: pointer;

  &::before {
    width: 60%;
    height: 60%;
    content: '';
    transform: rotate(45deg);

    @if ($isGradient) {
      border-top: 2px solid;
      border-right: 2px solid;
      border-image: $color 2;
      border-radius: 3px;
    }

    @else {
      border-top: 2px solid $color;
      border-right: 2px solid $color;
    }
  }

  &::after {
    position: absolute;
    left: 2px;
    width: 14px;
    height: 2px;
    margin: auto;
    background: $color;
    content: '';
  }
}
