@import "./variables.scss";

%container {
  max-width: 1920px;
  margin: 0 auto;
}

%h1 {
  font: bold $fs-h1 Quicksand, Arial, sans-serif;
  line-height: 30px;
  color: $dark-shade;
}

%h2 {
  font: bold $fs-h2 Quicksand, Arial, sans-serif;
  line-height: 23.75px;
  color: $dark-shade;
}

%h3 {
  font: bold $fs-h3 Montserrat, Arial, sans-serif;
  line-height: 14.63px;
  vertical-align: top;
  text-transform: uppercase;
  color: $dark-shade;
}

%body {
  font: normal $fs-body Montserrat, Arial, sans-serif;
  line-height: 24px;
  color: $dark-shade;
}
