// Breakpoints
$smallDesktopBreakpoint: 1200px;
$tabletBreakpoint: 900px;
$mobileBreakpoint: 600px;

// Colors
$dark-shade: #1f2041;

$dark-shade-75: rgba($dark-shade, 0.75);
$dark-shade-50: rgba($dark-shade, 0.5);
$dark-shade-25: rgba($dark-shade, 0.25);
$dark-shade-10: rgba($dark-shade, 0.1);
$dark-shade-5: rgba($dark-shade, 0.05);

$prime-color: #bc9cff;
$sub-prime-color: #8ba4f9;
$second-color: #6fcf97;

$gradient-excellent: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
$gradient-good: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
$gradient-satisfied: linear-gradient(180deg, $prime-color 0%, $sub-prime-color 100%);
$gradient-disappointed: linear-gradient(180deg, #919191 0%, #3d4975 100%);

// Fonts sizes
$main-font-size: 14px;

$fs-h1: 24px;
$lh-h1: 30px;

$fs-h2: 19px;
$lh-h2: 24px;

$fs-h3: 12;
$lh-h3: 14;

$fs-body: 14;
$lh-body: 24;
