// Colors

$dark-shade: #1f2041;

$dark-shade-75: rgba($dark-shade, 0.75);
$dark-shade-50: rgba($dark-shade, 0.5);
$dark-shade-25: rgba($dark-shade, 0.25);
$dark-shade-10: rgba($dark-shade, 0.1);
$dark-shade-5: rgba($dark-shade, 0.05);

$prime-color: #bc9cff;
$sub-prime-color: #8ba4f9;
$second-color: #6fcf97;

// Fonts sizes
$fs-h1: 24px;
$fs-h2: 19px;
$fs-h3: 12px;
$fs-body: 14px;
