.room-number {
  @include font-h3;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__left-title {
    font-family: Quicksand;
  }

  &__number {
    @include font-h1;
    margin: 0 0.2857rem 0 0.2857rem;

    &_size_h2 {
      font-size: toRem($fs-h2);
    }
  }

  &__right-title {
    @include font-h3;
    font-weight: normal;
    display: flex;
    align-items: center;

    color: $dark-shade-50;
  }

  &__price {
    @include font-body;
    font-weight: bold;

    margin-right: 4px;
    color: $dark-shade-50;
  }
}
