include /components/input-text/input-text
include /components/button/button

mixin card-sign-in({ title, auth=true}='')
  form.card-sign-in
    h1.card-sign-in__title=title
    fieldset.card-sign-in__field
      .card-sign-in__item
        +input-text({title:"",subtitle:"",placeholder:"email", type:"email"})
      .card-sign-in__item
        +input-text({title:"",subtitle:"", placeholder:"password", type:"password"})
    .card-sign-in__btn
       +button({theme: "arrow", size:" ", text:"Подобрать номер"})
    fieldset.card-sign-in__field
      .card-sign-in__group
        if auth===true
          .card-sign-in__account Уже есть аккаунт на Toxin
          +button({
          type:"botton",
          form:form,
          size:" ",
          text:"Войти"
          })
        else
          .card-sign-in__account Нет аккаунта на Toxin
          +button({
          type:"botton",
          form:form,
          size:" ",
          text:"Создать"
          })
