.header {
  $switch: &;

  &__main {
    padding: 15px 0;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 10px 20px $dark-shade-5;
  }

  &__container {
    @include container;
    @include font-body;

    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;

    @include breakpoint($small-desktop-breakpoint) {
      flex-direction: column;
      align-items: center;
    }

    @include breakpoint($tablet-breakpoint) {
      align-items: stretch;
    }
  }

  &__logo {
    display: block;
    width: fit-content;
    outline: none;

    &:focus-within,
    &:hover {
      filter: drop-shadow(0 0 5px $sub-prime-color);
    }
  }

  &__navigation {
    display: flex;
    flex-flow: row wrap;

    @include breakpoint($tablet-breakpoint) {
      display: none;
    }

    &_is-open {
      @include breakpoint($tablet-breakpoint) {
        display: block;
      }
    }
  }

  &__menu {
    display: flex;
    align-items: center;

    @include breakpoint($small-desktop-breakpoint) {
      &_with-buttons {
        justify-content: center;
      }
    }

    @include breakpoint($tablet-breakpoint) {
      flex-direction: column;
      padding-top: 10px;

      &_with-buttons {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  &__item {
    display: inline-block;
    margin-right: 20px;

    @include breakpoint($tablet-breakpoint) {
      margin: 0;
    }

    &_with-menu {
      &::after {
        display: inline-block;
        width: 8px;
        height: 8px;
        border: 2px solid $dark-shade-50;
        border-top: 0;
        border-left: 0;
        margin-bottom: -2px;
        margin-left: 9px;
        content: '';
        transform: translateY(-50%) rotate(45deg);
      }

      &:hover::after {
        border: 2px solid $dark-shade-25;
        border-top: 0;
        border-left: 0;
      }
    }

    &_bold {
      font-weight: bold;

      > #{$switch}__link {
        color: $dark-shade-75;
      }
    }
  }

  &__link {
    color: $dark-shade-50;
    cursor: pointer;
    outline: none;
    text-decoration: none;

    &:hover {
      color: $dark-shade-25;
    }

    &:focus {
      filter: drop-shadow(1px 1px 5px $sub-prime-color);
    }
  }

  &__user {
    padding: 6px 0 7px 29px;
    border-left: 1px solid $dark-shade-10;

    @include breakpoint($tablet-breakpoint) {
      padding: 3px 0 0;
      border: 0;
      border-top: 1px solid $dark-shade-10;
    }
  }

  // special thanks to https://codepen.io/Zaku/pen/vcaFr
  &__toggle {
    $ease-out-back: cubic-bezier(0.25, -0.25, 0.75, 1.25);
    $easing: $ease-out-back;
    $duration: 0.5s;
    $switch: &;

    position: absolute;
    top: 5px;
    right: 15px;
    display: none;
    width: 35px;
    outline: none;

    @include breakpoint($tablet-breakpoint) {
      display: block;
    }

    &_svg {
      cursor: pointer;
      transform: translate3d(0, 0, 0);
    }

    &_path {
      fill: none;
      stroke: $dark-shade;
      stroke-dashoffset: 0;
      stroke-linecap: round;
      stroke-width: 40px;
      transition: stroke-dashoffset $duration $easing, stroke-dasharray $duration $easing;

      &_top,
      &_bottom {
        stroke-dasharray: 240px 1000px;
      }

      &_middle {
        stroke-dasharray: 240px 240px;
      }
    }

    &_active {
      #{$switch}_path {
        &_top,
        &_bottom {
          stroke-dashoffset: -650px;
        }

        &_middle {
          stroke-dasharray: 1px 220px;
          stroke-dashoffset: -115px;
        }
      }
    }

    &:focus,
    &:hover {
      filter: drop-shadow(0 0 5px $sub-prime-color);
    }
  }
}
