.header {
  $switch: &;

  &__main {
    box-shadow: 0px 10px 20px $dark-shade-5;
    background-color: #fff;
    margin: 0 auto;
    padding: 15px 0;
  }

  &__container {
    @include container;
    @include font-body;
    padding: 0 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;

    @media (max-width: 950px) {
      flex-direction: column;
    }
  }

  &__input {
    position: relative;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    outline: none;

    &:checked {
      @media (max-width: 950px) {
        ~ #{$switch}__nav {
          display: block;
        }
      }

      ~ #{$switch}__toggle {
        mask-image: url("../../components/header/images/close.svg");
        -webkit-mask-image: url("../../components/header/images/close.svg");
        background-color: $dark-shade-75;
        margin: 0;
        top: 6px;
      }
    }

    &:focus {
      ~ #{$switch}__toggle {
        box-shadow: 10px 10px 10px $dark-shade-50;
      }
    }
  }

  &__nav {
    display: flex;
    flex-flow: row wrap;

    @media (max-width: 950px) {
      display: none;
    }
  }

  &__menu {
    display: flex;
    align-items: center;

    @media (max-width: 950px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__user-menu {
    display: flex;
    align-items: center;

    @media (max-width: 950px) {
      justify-content: space-between;

      > .header__item {
        margin: 0;
      }
    }
  }

  &__item {
    display: inline-block;
    margin-right: 20px;

    &_marked {
      ::after {
        content: "";
        display: inline-block;
        width: 8px;
        height: 8px;
        margin-left: 9px;
        margin-bottom: -2px;
        border: 2px solid $dark-shade-50;
        border-top: 0;
        border-left: 0;
        transform: translateY(-50%) rotate(45deg);
      }

      &:hover ::after {
        border: 2px solid $dark-shade-25;
        border-top: 0;
        border-left: 0;
      }
    }

    @media (max-width: 950px) {
      margin: 0 0 5px 0;
    }
  }

  &__user-name {
    border-left: 1px solid $dark-shade-10;
    padding: 6px 0 7px 29px;

    @media (max-width: 950px) {
      border: 0;
    }
  }

  &__link {
    text-decoration: none;

    &:not(.button) {
      color: $dark-shade-50;
    }

    &:hover {
      color: $dark-shade-25;
    }
  }

  &__toggle {
    mask-image: url("../../components/header/images/menu.svg");
    -webkit-mask-image: url("../../components/header/images/menu.svg");
    display: none;
    position: absolute;
    background-color: $dark-shade-75;
    background-repeat: no-repeat;
    // margin: auto;
    width: 30px;
    height: 30px;
    top: 6px;
    bottom: 0;
    right: 15px;
    user-select: none;

    @media (max-width: 950px) {
      display: block;
    }
  }
}
