@import "@layouts/ui-base/ui-base";
@import "@components/footer/footer";
@import "@components/input-text/input-text";

@import "@/theme/main";

.body {
  &_colored {
    background-color: #e5e5e5;
  }
}

.headers-footers {
  &__item {
    z-index: 0;
    position: relative;
    margin-bottom: 50px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
