extends /layouts/ui-base/ui-base
include /components/footer/footer

block head
  title Headers and footers

block body
  .headers-footers
    .headers-footers__item
    .headers-footers__item
    .headers-footers__item
    .headers-footers__item
      +footer({type:"simple"})
