.type {
  width: 336px;

  &__item {
    display: block;
    position: relative;
    margin-bottom: 50px;

    &_theme {
      &_h1 {
        @include font-h1;
      }

      &_h2 {
        @include font-h2;
      }

      &_h3 {
        @include font-h3;
      }

      &_body {
        @include font-body;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__mark {
    display: block;
    position: absolute;
    left: -4.786rem;

    width: 100%;
    max-width: 2.643rem;

    color: $dark-shade-25;
    font-weight: normal;
    text-align: end;
  }
}
