.cards
  .cards__grid
    .cards__container
      .cards__item
        +find-room({title:"Найдём номера под ваши пожелания"})
      .cards__item
        +registration({
          title:"Регистрация номера",
          form:"registration",
          auth:true,
        })
    .cards__container
      .cards__item
        +reservation({
          form:"reservation",
          number:888,
          luxury:true,
          price:9990,
          days:4,
          discount:2179,
          service:0,
          addService:300
        })
      .cards__item
        +sign-in({title:"Войти", auth:false})
    .cards__container
      .cards__item
        .cards__item_with-calendar
      .cards__item
        +room({
          form:"room-card",
          images:[
            require("./cards/images/room-1").default,
            require("./cards/images/room-2").default,
            require("./cards/images/room-3").default,
            require("./cards/images/room-5").default,
            require("./cards/images/room-4").default,
          ],
          dotIMG:3,
          href:"/../page-room/page-room.pug",
          number:888,
          luxury:true,
          price:9990,
          rate:5,
          reviews: 145,
          })
      .cards__item
        +room({
          form:"room-card",
          images:[
            require("./cards/images/room-2").default,
            require("./cards/images/room-1").default,
            require("./cards/images/room-3").default,
            require("./cards/images/room-5").default,
            require("./cards/images/room-4").default,
          ],
          dotIMG:2,
          href:"/../page-room/page-room.pug",
          number:840,
          luxury:false,
          price:9900,
          rate:4,
          reviews: 65,
          })
