.cards__section
  .cards__grid
    .cards__column
      .cards__item
        +room-search({title:"Найдём номера под ваши пожелания"})

      .cards__item
        +account-registration({
          title:"Регистрация аккаунта",
          titleBirth:"дата рождения",
          titleSign:"данные для входа в сервис",
          form:"registration",
          auth:true,
        })

    .cards__column
      .cards__item
        +room-reserve({
          form:"Order",
          discountText:"Сбор за услуги: скидка",
          addServiceText:"Сбор за дополнительные услуги",
          number:888,
          luxury:true,
          price:9990,
          days:4,
          discount:2179,
          service:0,
          addService:300
        })
      .cards__item
        +account-sign-in({title:"Войти", auth:false})

    .cards__column
      .cards__item
        .cards__item_with-calendar

      .cards__item
        +room-info({
          form:"room-info",
          images:[
            require("./cards/images/room-1").default,
            require("./cards/images/room-2").default,
            require("./cards/images/room-3").default,
            require("./cards/images/room-5").default,
            require("./cards/images/room-4").default,
          ],
          dotIMG:3,
          href:"./room-details.html",
          number:888,
          luxury:true,
          price:9990,
          rate:5,
          reviews: 145,
          })

      .cards__item
        +room-info({
          form:"room-info",
          images:[
            require("./cards/images/room-2").default,
            require("./cards/images/room-1").default,
            require("./cards/images/room-3").default,
            require("./cards/images/room-5").default,
            require("./cards/images/room-4").default,
          ],
          dotIMG:2,
          href:"./room-details.html",
          number:840,
          luxury:false,
          price:9900,
          rate:4,
          reviews: 65,
          })
