.cards {
  &__grid {
    @include container;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__column {
    @include container;

    display: flex;
    width: min-content;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  &__item {
    display: flex;
    margin-bottom: 40px;
  }
}
