.cards {
  &__grid {
    @include container;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__column {
    @include container;
    display: flex;
    width: min-content;

    align-content: center;
    justify-content: center;
    flex-direction: column;
  }

  &__item {
    margin-bottom: 40px;
    display: flex;
  }
}

.js-cards__calendar {
  left: 0 !important;
  width: 22.7143rem !important;
  position: static !important;
}
