.cards__section
  .cards__grid
    .cards__column
      .cards__item
        +card-search({title:"Найдём номера под ваши пожелания"})

      .cards__item
        +card-registration({
          title:"Регистрация номера",
          form:"registration",
          auth:true,
        })

    .cards__column
      .cards__item
        +card-order({
          form:"Order",
          number:888,
          luxury:true,
          price:9990,
          days:4,
          discount:2179,
          service:0,
          addService:300
        })
      .cards__item
        +card-sign-in({title:"Войти", auth:false})

    .cards__column
      .cards__item
        .cards__item_with-calendar

      .cards__item
        +card-room({
          form:"card-room",
          images:[
            require("./cards/images/room-1").default,
            require("./cards/images/room-2").default,
            require("./cards/images/room-3").default,
            require("./cards/images/room-5").default,
            require("./cards/images/room-4").default,
          ],
          dotIMG:3,
          href:"./room-details.html",
          number:888,
          luxury:true,
          price:9990,
          rate:5,
          reviews: 145,
          })

      .cards__item
        +card-room({
          form:"card-room",
          images:[
            require("./cards/images/room-2").default,
            require("./cards/images/room-1").default,
            require("./cards/images/room-3").default,
            require("./cards/images/room-5").default,
            require("./cards/images/room-4").default,
          ],
          dotIMG:2,
          href:"./room-details.html",
          number:840,
          luxury:false,
          price:9900,
          rate:4,
          reviews: 65,
          })
