@import "@/theme/main.scss";

.checkbox {
  $switch: &;
  display: block;
  min-height: 20px;

  &__box {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid $dark-shade-25;
    border-radius: 4px;
    background-color: #fff;
  }

  &__input {
    position: absolute;
    appearance: none;

    // checked
    &:checked {
      + #{$switch}__box {
        border: 1px solid $prime-color;

        &::before {
          content: "";
          position: absolute;
          display: inline-block;
          height: 6px;
          width: 8px;
          left: 5px;
          top: 5px;
          background-image: linear-gradient(
            180deg,
            $prime-color 0%,
            $sub-prime-color 100%
          );
          transform: rotate(-45deg);
        }

        &::after {
          content: "";
          position: absolute;
          display: inline-block;
          height: 6px;
          width: 8px;
          left: 5px;
          top: 2px;
          background: #fff;
          transform: rotate(-45deg);
        }
      }
    }

    // focused
    &:focus {
      + #{$switch}__box {
        box-shadow: 0 0 2px 1px $dark-shade-10;
      }
    }

    &:checked:focus {
      + #{$switch}__box {
        box-shadow: 0 0 2px 1px $dark-shade-10;
      }
    }

    // disabled
    &:disabled {
      + #{$switch}__box {
        cursor: default;
        background-color: $dark-shade-5;
      }

      + #{$switch}__info {
        cursor: default;
      }
    }

    &:checked:disabled {
      + #{$switch}__box {
        cursor: default;
        border: 1px solid $dark-shade-25;
        color: #f4f4f5;

        &::after {
          background: #f4f4f5;
        }
        &::before {
          background: #bfbfc8;
        }

        + #{$switch}__info {
          cursor: default;
        }
      }
    }
  }

  &__info {
    cursor: pointer;
    font: normal 12px Montserrat, Arial, sans-serif;
    color: $dark-shade-50;
    text-transform: initial;
    padding-left: 30px;
    line-height: 18px;
  }

  &__name {
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    color: $dark-shade-75;
    margin-bottom: 5px;
  }

  &__text {
    display: inline-block;
    vertical-align: middle;
  }
}
