.checkbox {
  $switch: &;

  display: inline-block;

  &:hover {
    filter: drop-shadow(0 0 2px $dark-shade-25);
  }

  &__box {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid $dark-shade-25;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
  }

  &__input {
    position: absolute;
    appearance: none;

    &:checked {
      + #{$switch}__box {
        border: 1px solid $prime-color;

        &::before {
          position: absolute;
          top: 5px;
          left: 5px;
          display: inline-block;
          width: 8px;
          height: 6px;
          background-image: $gradient-satisfied;
          content: '';
          transform: rotate(-45deg);
        }

        &::after {
          position: absolute;
          top: 2px;
          left: 5px;
          display: inline-block;
          width: 8px;
          height: 6px;
          background: white;
          content: '';
          transform: rotate(-45deg);
        }
      }
    }

    &:focus {
      + #{$switch}__box {
        box-shadow: 0 0 2px 1px $dark-shade-10;
      }
    }

    &:disabled {
      + #{$switch}__box {
        background-color: $dark-shade-5;
        cursor: default;
      }

      + #{$switch}__info {
        cursor: default;
      }
    }

    &:checked:focus {
      + #{$switch}__box {
        box-shadow: 0 0 2px 1px $dark-shade-10;
      }
    }

    &:checked:disabled {
      + #{$switch}__box {
        border: 1px solid $dark-shade-25;
        color: #f4f4f5;
        cursor: default;

        &::after {
          display: none;
        }

        &::before {
          display: none;
        }

        + #{$switch}__info {
          cursor: default;
        }
      }
    }
  }

  &__name {
    display: inline-block;
    padding-bottom: 5px;
    color: $dark-shade-75;
  }

  &__info {
    @include font-body;

    padding-top: 1px;
    padding-left: 30px;
    color: $dark-shade-50;
    cursor: pointer;
    line-height: 1.285rem;
  }
}
