.footer {
  &__main {
    border-top: 1px solid $dark-shade-25;
    box-shadow: 0px 10px 20px $dark-shade-5;
    background-color: #fff;
    margin: 0 auto;
  }

  &__container {
    @include container;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;

    @include breakpoint($smallDesktopBreakpoint) {
      justify-content: space-evenly;
    }

    &_lowercase {
      justify-content: space-between;
      padding: 23px 10px;
    }
  }

  &__description {
    margin-right: 40px;
    width: 100%;
    min-width: 260px;

    text-align: left;

    @include breakpoint($tabletBreakpoint) {
      text-align: center;
      margin: 0;
    }

    &_plain {
      margin: 0;
      text-align: center;
      max-width: none;
    }
  }

  &__logo {
    display: block;
    outline: none;
    margin-bottom: 17px;

    @include breakpoint($tabletBreakpoint) {
      display: flex;
      justify-content: center;
    }

    &:focus-within,
    &:hover {
      cursor: pointer;
      filter: drop-shadow(0px 0px 5px $sub-prime-color);
    }

    &_plain {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }
  }

  &__text {
    @include font-body;
    margin-bottom: 20px;

    &_plain {
      margin-bottom: 25px;
    }

    &_lowercase {
      margin: 0;
    }
  }

  &__navigation {
    display: flex;

    @include breakpoint($smallDesktopBreakpoint) {
      display: none;
    }
  }

  &__section {
    display: inline-block;
    white-space: nowrap;

    &:nth-child(2) {
      padding-left: 57px;
      padding-right: 92px;
    }
  }

  &__section-links {
    list-style: none;
  }

  &__item {
    @include font-body;

    padding-bottom: 21px;
    line-height: 17px;

    max-width: 260px;

    &:last-child {
      padding: 0;
    }

    &_is-title {
      @include font-h3;
      padding-bottom: 22px;
      padding-top: 5px;
    }

    &_with-link {
      color: $dark-shade-50;
      text-decoration: none;
      outline: none;

      &:hover {
        color: $dark-shade-25;
      }

      &:focus {
        filter: drop-shadow(1px 1px 5px $sub-prime-color);
      }
    }
  }

  &__subscription {
    margin-left: 53px;
    width: 100%;
    min-width: 260px;

    @include breakpoint($mobileBreakpoint) {
      display: none;
    }
  }

  &__icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    margin-left: 20px;
    list-style: none;
    display: inline-block;

    width: 24px;
    height: 24px;

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      background-image: linear-gradient(180deg, lighten($prime-color, 10%) 0%, lighten($sub-prime-color, 10%) 100%);
    }

    &:focus {
      transform: scale(1.2);
    }

    &_link_1 {
      background: linear-gradient(180deg, $prime-color 0%, $sub-prime-color 100%);
      -webkit-mask-image: url(../../components/footer/img/twit.svg);
      mask-image: url(../../components/footer/img/twit.svg);
    }

    &_link_2 {
      background: linear-gradient(180deg, $prime-color 0%, $sub-prime-color 100%);
      -webkit-mask-image: url(../../components/footer/img/faceb.svg);
      mask-image: url(../../components/footer/img/faceb.svg);
    }

    &_link_3 {
      background: linear-gradient(180deg, $prime-color 0%, $sub-prime-color 100%);
      -webkit-mask-image: url(../../components/footer/img/instagram.svg);
      mask-image: url(../../components/footer/img/instagram.svg);
    }
  }
}
