.headers-footers__section
  .headers-footers__item
    +header({
      auth:false,
      logoRef:"./landing-page.html",
      btnRefEnter:"./sign-in.html",
      btnRefRegister:"./registration.html",
      nav:[
        {
          name: "О нас",
          isBig: true,
          title: "О нас"
        },
        {
          name: "Услуги",
          submenu: true,
          title: "Услуги"
        },
        {
          name: "Вакансии",
          title: "Вакансии"
        },
        {
          name: "Новости",
          title: "Новости"
        },
        {
          name: "Соглашения",
          submenu: true,
          title: "Соглашения"
        },
      ]
    })
  .headers-footers__item
    +header({
      auth:true,
      logoRef:"./landing-page.html",
      btnRefEnter:"./sign-in.html",
      btnRefRegister:"./registration.html",
      nav:[
        {
          name: "О нас",
          isBig: true,
          title: "О нас"
        },
        {
          name: "Услуги",
          submenu: true,
          title: "Услуги"
        },
        {
          name: "Вакансии",
          title: "Вакансии"
        },
        {
          name: "Новости",
          title: "Новости"
        },
        {
          name: "Соглашения",
          submenu: true,
          title: "Соглашения"
        }
      ]
    })
  .headers-footers__item
    +footer({
      view:"complex"
      },
      [
      {
        groupTitle: "Навигация",
        groupItems: [
          {
            itemText: 'О нас',
            itemHref:'#!'
          },
          {
            itemText: 'Новости',
            itemHref:'#!'
          },
          {
            itemText: 'Служба поддержки',
            itemHref:'#!'
          },
          {
            itemText: 'Услуги',
            itemHref:'#!'
          },
        ]
      },
      {
        groupTitle: "О нас",
        groupItems: [
          {
            itemText: 'О сервисе',
            itemHref:'#!'
          },
          {
            itemText: 'Наша команда',
            itemHref:'#!'
          },
          {
            itemText: 'Вакансии',
            itemHref:'#!'
          },
          {
            itemText: 'Инвесторы',
            itemHref:'#!'
          },
        ]
      },
      {
        groupTitle: "Служба поддержки",
        groupItems: [
          {
            itemText: 'Соглашения',
            itemHref:'#!'
          },
          {
            itemText: 'Сообщества',
            itemHref:'#!'
          },
          {
            itemText: 'Связь с нами',
            itemHref:'#!'
          },
        ]
      },
    ])
    +footer
  .headers-footers__item
    +footer({view:"simple"})
