.room {
  $switch: &;

  max-width: 270px;
  box-shadow: 0px 0.7142rem 1.4285rem rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  background-color: #fff;
  transition: 0.25s;

  &:hover {
    box-shadow: 0 0 1.7857rem $dark-shade-25;
  }

  &__field {
    position: relative;
    padding: 1.2286rem 1.2143rem 1.4286rem 1.4286rem;
    border: 0;

    &:first-child {
      padding: 0;
    }
  }

  &__number {
    padding-bottom: 0.47rem;
  }

  &__group {
    padding-top: 0.5714rem;
    display: flex;
    justify-content: space-between;

    border-top: 1px solid $dark-shade-10;
  }

  &__reviews {
    @include font-body;
    display: flex;
    align-items: center;
    color: $dark-shade-50;
  }
  &__reviews-bold {
    margin-right: 0.2857rem;
  }
}
