extends /layouts/ui-base/ui-base

include /components/find-room/find-room
include /components/reservation/reservation
include /components/registration/registration
include /components/sign-in/sign-in


block head
  title Cards

block body
  body.body_colored
    .cards
      .cards__grid
        .cards__container
          .cards__item
            +find-room({title:"Найдём номера под ваши пожелания"})
          .cards__item
            +registration({
              title:"Регистрация номера",
              form:"registration",
              auth:true,
            })
        .cards__container
          .cards__item
            +reservation({
              form:"reservation",
              number:888,
              luxury:true,
              price:9990,
              days:4,
              discount:2179,
              service:0,
              addService:300
            })
          .cards__item
            +sign-in({title:"Войти", auth:false})
        .cards__container
          .cards__item
          .cards__item
