mixin room-slider({ dot=true, items=5, check=1}='')
  .room-slider
    .room-slider__hover.room-slider__hover_onleft
    .room-slider__hover.room-slider__hover_onright
    if dot==true
      .room-slider__dots
        - for (var i = 1; i <= items; i++)
          if (i===check)
            label.room-slider__label
              input.room-slider__input(type="radio", name="dot",checked=true)
              .room-slider__dot
          else
            label.room-slider__label
              input.room-slider__input(type="radio", name="dot",checked=false)
              .room-slider__dot
