.card-slider {
  $switch: &;

  &__carousel {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;

    &:focus-within {
      box-shadow: 0px 5px 5px #1f20414d;
    }
  }

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);

    &:focus ~ .card-slider__dots {
      filter: drop-shadow(0px 0px 1px #000);
    }
  }

  &__controls {
    display: none;
  }

  @for $num from 1 through 10 {
    &__input:nth-of-type(#{$num}) {
      &:checked ~ .card-slider__track {
        transform: translateX(-(($num - 1) * 100%));
      }

      &:checked ~ .card-slider__controls:nth-of-type(#{$num}) {
        display: block;
        opacity: 1;
      }

      &:checked ~ .card-slider__dots .card-slider__dot:nth-of-type(#{$num}) {
        background-color: #fff;
      }
    }
  }

  // Create style for slider button
  &__control {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    z-index: 3;
    opacity: 0;

    &::before {
      content: "";
      position: absolute;
      margin: auto;
      right: 20px;
      top: 0;
      bottom: 0;
      height: 10px;
      width: 10px;
      border: 2px solid #fff;
      border-top: 0;
      border-left: 0;
      transform: rotate(135deg);
      z-index: 3;
    }

    &_prev {
      left: 0;
      background: #000;
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0) 99.99%,
        rgba(255, 255, 255, 0) 100%
      );
      z-index: 4;
    }

    &_next {
      right: 0;
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0) 99.99%,
        rgba(255, 255, 255, 0) 100%
      );
      transform: rotate(-180deg);
      z-index: 4;
    }

    &:hover {
      opacity: 1;
      cursor: pointer;
      transition: 0.5s;
    }
  }

  // Create rules for  a track
  &__track {
    transition: transform 0.5s ease 0s;
    height: 151px;
    display: block;
  }

  &__slide {
    display: block;
    position: absolute;

    @for $num from 1 through 10 {
      &:nth-of-type(#{$num}) {
        transform: translateX(($num - 1) * 100%);
      }
    }

    // Create style for arrow on a link-img
    &:hover::after {
      @include font-h1;
      content: attr(data-subtitle);
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      color: #fff;
      opacity: 0.7;
      line-height: 1rem;
      filter: drop-shadow(0px 0px 1px #1f20414d);
    }
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__dots {
    position: absolute;
    bottom: 15px;
    right: 15px;
  }

  &__dot {
    height: 8px;
    width: 8px;
    border-radius: 100%;
    display: inline-block;
    z-index: 2;
    cursor: pointer;
    margin: 0 0 0 3.75px;
    border: 1px solid #fff;
    box-shadow: 0px 5px 5px #1f20414d;
  }
}
