.color-and-types__section
  .color-and-types__item
    +color([
      {theme: "dark-shade", text:"Dark Shade 100%", code:"#1F2041" },
      {theme: "dark-shade-75", text:"Dark Shade 75%", code:"#1F2041" },
      {theme: "dark-shade-50", text:"Dark Shade 50%", code:"#1F2041" },
      {theme: "dark-shade-25", text:"Dark Shade 25%", code:"#1F2041" },
      {theme: "dark-shade-5", text:"Dark Shade 5%", code:"#1F2041" },
      {theme: "prime", text:"Purple", code:"#BC9CFF" },
      {theme: "second", text:"Green", code:"#6FCF97" },
      ])

  .color-and-types__item
    +type([
      {theme: "h1", text: "This one is the sub-section or widget title", tag: "H1"},
      {theme: "h2", text: "Next one is the item title inside widgets", tag: "H2"},
      {theme: "h3", text: "This is a label or CTA text", tag: "H3"},
      {theme: "body", text: "This is the body text which is used for most of the design, like paragraphs, lists, etc.", tag: "Body"},
      ])
