.container
  .container__color
    +color([
      {classColor: "container__color-item_ds100", text:"Dark Shade 100%", code:"#1F2041" },
      {classColor: "container__color-item_ds75", text:"Dark Shade 75%", code:"#1F2041" },
      {classColor: "container__color-item_ds50", text:"Dark Shade 50%", code:"#1F2041" },
      {classColor: "container__color-item_ds25", text:"Dark Shade 25%", code:"#1F2041" },
      {classColor: "container__color-item_ds5", text:"Dark Shade 5%", code:"#1F2041" },
      {classColor: "container__color-item_prime", text:"Purple", code:"#BC9CFF" },
      {classColor: "container__color-item_second", text:"Green", code:"#6FCF97" },
      ])
  .container__type
    +type([
      {classType: "container__type-item_h1", text: "This one is the sub-section or widget title", tag: "H1"},
      {classType: "container__type-item_h2", text: "Next one is the item title inside widgets", tag: "H2"},
      {classType: "container__type-item_h3", text: "This is a label or CTA text", tag: "H3"},
      {classType: "container__type-item_body", text: "This one is the sub-section or widget title", tag: "Body"},
      ])
