.color-and-types {
  &__section {
    @include container;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    margin-bottom: 9rem;
    padding-right: 4.4rem;
  }
}
